@import "tailwindcss";

:root {
  --color-naranja: #f15808;
  --color-rojo: #d1273b;
  --color-verde: #1f9254;
  --color-amarillo: #d1a512;
  --color-gris-oscuro: #353535;
  --color-casi-negro: #1c0d0a;
  --color-crema: #f7f4ef;
}

@theme inline {
  --color-naranja: var(--color-naranja);
  --color-rojo: var(--color-rojo);
  --color-verde: var(--color-verde);
  --color-amarillo: var(--color-amarillo);
  --color-gris-oscuro: var(--color-gris-oscuro);
  --color-casi-negro: var(--color-casi-negro);
  --color-crema: var(--color-crema);

  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);
}

body {
  background: var(--color-crema);
  color: var(--color-casi-negro);
}
